body {
  background-color: #eee;
}
#header{
    width: 100%;
    margin-bottom: 20px;
    clear: both;
}
#customer-info{
    width: 7%;
    float: left;
    margin-left: 1%;
}
#content-body{
    width: 90%;
    float: right;
    margin-right: 1%;
    margin-left: 1%;
    position: relative;
}
#footer{
     width: 100%;
     clear: both;
 }
#items{
    min-height: 425px;
    clear: both;
    margin-top: 2%;
}
#pages{
    width:100%;
    bottom:0;
    /*position:absolute;*/
    margin-top: 20px;
}
.name-column{ //changed
    width: 25%;
}
.start-date-column{
    width: 20%;
}
.end-date-column{
    width: 20%;
}
.days-left-column{
    width: 15%;
}
.return-column{
    width: 15%;
    text-align: center;
}
.sort-icon{
    padding-left: 4px;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height:40%;
    margin-bottom:0.5%;
    margin-top:0.5%;
    max-width:99%;
}
#customer-name{
    font-size:150%;
    margin-bottom:1%;
}
#customer-name-block{
    margin-left: 8px;
    min-width: 156px;
}
.days-left-column-value{
    text-align: center;
}
#avatar{
    margin-top: 20px;
}
.return-column-value{
    text-align: right;
}
.copies-left-column-value{
    text-align: center;
    vertical-align: middle !important;
}
.copies-left-column {
    text-align: center;
}
.copies-number.form-control{
    display: inline;
    width: auto;
}