body {
  background-color: #eee;
}
#header{
    width: 100%;
    margin-bottom: 20px;
    clear: both;
}
#category{
    width: 20%;
    float: left;
}
#content-body{
    width: 77%;
    float: right;
    margin-right: 1%;
    margin-left: 1%;
    position: relative;
}
#footer{
     width: 100%;
     clear: both;
 }
#films{
    height: 425px;
    clear: both;
}
#pages{
    width:100%;
    bottom:0;
    /*position:absolute;*/
    margin-top: 20px;
}
.name-column{
    width: 40%;
}
.copies-column{
    width: 15%;
}
.price-column{
    width: 15%;
}
.add-column{
    width: 15%;
}
.edit-column{
    width: 15%;
}
#search-buttons{
}
#search-button{
    float: right;
    width: 10%;
}
#key-search{
    float: left;
    width: 88%;
}
#add-new-film-button{
    display: block;
    float: right;
}
#filter-buttons{
    display: inline;
    float: left;
}